/*  RESET CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button,
input,
textarea {
  font-family: "Noto Sans KR", sans-serif;
}

/* 지워도 되는 CSS */

body {
  background-image: url("https://images.unsplash.com/photo-1500877015165-e1fb7f2db007?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -200px;
}

/* common font style */

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav-bar css  */

nav {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -300px; */
  /* font-family: "popins", sans-serif; */
  color: #fff;
  padding: 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 20%;
}

.menu-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70px;
  border-radius: 500px;
  background-color: hsla(0, 0%, 100%, 0.125);
}

.menu-item {
  padding: 10px;
  border-radius: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.menu-item a {
  text-shadow: 0px -2px rgba(0, 0, 0, 0.44);
  transition: all 0.1s;
}

.menu-item a:active {
  transform: translateY(3px);
}

.menu-item a.black {
  background-color: #000;
  border-bottom: 5px solid #000;
}

.menu-item a.black:active {
  border-bottom: 2px solid #000;
}

.login-signup-container {
  width: 20%;
  align-self: center;
  text-align: right;
  padding: 8px 10px;
  font-weight: 500;
}

span {
  line-height: 1.2;
}

.hamburger-btn {
  color: #fff;
  display: none;
}

/* mobile size */

@media screen and (max-width: 600px) {
  nav {
    padding: 0;
  }
  .logo-img img {
    width: 100px;
    height: 100px;
  }
  .menu-bar-container {
    display: none;
  }
  .menu-item {
    display: none;
  }
  .login-signup-container {
    display: none;
  }
  .nav-container {
    background-color: hsla(0, 0%, 100%, 0.125);
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
  }
  .hamburger-btn {
    display: block;
    color: #fff;
    font-size: 20px;
  }
}

/* tablet size */

@media screen and (min-width: 600px) and (max-width: 992px) {
  nav {
    padding: 0;
  }
  .logo-img img {
    width: 100px;
    height: 100px;
  }
  .menu-bar-container {
    display: none;
  }
  .menu-item {
    display: none;
  }
  .login-signup-container {
    display: none;
  }
  .nav-container {
    background-color: hsla(0, 0%, 100%, 0.125);
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
  }
  .hamburger-btn {
    display: block;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
}
