

footer {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  font-size: 14px;
  
}

.container-fluid {
  display: flex;
  
}
.footer-box1 {
  display: flex;
  
  
}

.footer-box2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 118px;
  height: 42px;
}
.ft-icon {
  width: 32px;
  height: 32px;
}



.footer-social {
  display: flex;
  
}
.footer-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-terms a {
  color: #333;
  text-decoration: none;
}
.footer-terms a:hover {
  text-decoration: underline;
}
.footer-terms-txt2 {
  font-weight: 900;
}

@media screen and (max-width:800px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .footer-info p {
    
  }

}