@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "./styles/slotMachine.css";
@import "./styles/searchBar.css";
@import "./styles/searchModal.css";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/*main 여행지 추천 css*/

.nav-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: none;
}
.nav-item .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black;
  text-decoration: none;
  margin-top: 4px;
  border: none;
}

.nav-link:hover span {
  color: red;
}

.icon-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  z-index: 1;
}

.icon-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6a6a6a;
  border-radius: 50%;
  z-index: -1;
  font-size: 50px;
}
span {
  color: #6a6a6a;
  text-decoration: none;
}

.icon-fixed-size {
  font-size: 15px;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
}
.nav-item .nav-link:hover,
.nav-item .nav-link.active {
  transform: scale(1.1);
  color: #ff385c;
}
.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  border: none;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: white;
  padding: 100px;
}
.card {
  flex: 0 1 auto;
  border-radius: 15px;
  background: none;
  width: 100%;
  height: 600px;
  border: none;
}

.image-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  border: none;
  position: relative;
  border-radius: 15px;
  background: none;
  padding: 30px;
  border: none;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  background: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.overlay:hover {
  opacity: 1;
}

.overlay .over_box {
  text-align: center;
  padding: 20px;
}

.overlay .over_box a {
  color: #ffffff;
  text-decoration: none;
}

.overlay .over_box a:hover {
  text-decoration: underline;
}

.banner {
  text-align: center;
  padding: 50px;
}

.banner h1 {
  font-size: 28px;
  color: black;
  margin: 0;
  padding: 0;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .image-container {
    width: 100%;
    height: 300px; /* Adjust the height for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    background: none;
  }

  .card {
    height: 300px; /* Adjust the card height for smaller screens */
  }

  .icon-wrapper {
    width: 20px; /* Adjust icon wrapper size for smaller screens */
    height: 20px; /* Adjust icon wrapper size for smaller screens */
  }

  .icon-wrapper i {
    font-size: 16px; /* Adjust icon size for smaller screens */
  }

  .icon-wrapper::before {
    width: 20px; /* Adjust icon background size for smaller screens */
    height: 20px; /* Adjust icon background size for smaller screens */
    font-size: 16px; /* Adjust icon background size for smaller screens */
  }

  .nav-item {
    padding: 5px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .nav-item .nav-link {
    padding: 5px; /* Adjust padding for the nav-link */
    font-size: 12px; /* Adjust text size for smaller screens */
  }

  .nav-item .nav-link .mt-3 {
    margin-top: 0.5rem; /* Adjust margin for smaller screens */
    font-size: 5px; /* Adjust text size for smaller screens */
  }

  .nav-item .nav-link span {
    font-size: 5px; /* Adjust text size for smaller screens */
  }

  .nav-item .nav-link i {
    font-size: 7px; /* Adjust icon size for smaller screens */
  }

  .banner h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

/*  RESET CSS */

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

button,
input,
textarea {
  font-family: "Noto Sans KR", sans-serif;
}

/* common font style */

.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav-bar css  */

.header_nav {
  color: #333 !important;
  /* padding: 30px; */
  position: relative;
}

.trans-lan-grp {
  text-align: right;
  font-weight: 600;
  padding-right: 10px;
}

.trans-lan-grp a {
  color: #333 !important;
  font-weight: 600;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-bar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 70px;
  border-radius: 500px;
  background-color: hsla(0, 0%, 100%, 0.8);
}

.menu-item {
  padding: 10px;
  border-radius: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
}

.menu-item a {
  transition: all 0.1s;
  color: #333;
}

.menu-item a:active {
  transform: translateY(3px);
}

.menu-item a.black {
  background-color: #000;
  border-bottom: 5px solid #000;
}

.menu-item a.black:active {
  border-bottom: 2px solid #000;
}

.login-signup-container {
  width: 20%;
  text-align: right;
  padding: 8px 10px;
  font-weight: 500;
}
.member {
  color: #333;
  font-weight: 600;
}
span {
  line-height: 1.2;
}

.hamburger-btn {
  display: none;
}
#bk-mode-blure {
  margin-bottom: 0;
}

/* 미디어쿼리 시작 */
/* mobile size */

@media screen and (max-width: 600px) {
  .is-active {
    height: 100vh;
    max-height: 100vh;
    opacity: 0.6;
  }

  .bk-layer {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 110;
  }
  nav {
    padding: 0;
  }
  .trans-lan-grp {
    display: none;
  }
  .logo-img img {
    width: 35px;
    height: 35px;
  }
  .menu-bar-container {
    display: none;
  }
  .menu-item {
    display: none;
  }
  .login-signup-container {
    display: none;
  }
  .nav-container {
    background-color: hsla(0, 0%, 100%, 0.125);
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
  }
  .hamburger-btn {
    display: block;
    color: #fff;
    font-size: 30px;
  }
}

/* tablet size */

@media screen and (min-width: 600px) and (max-width: 992px) {
  .is-active {
    height: 100vh;
    max-height: 100vh;
    opacity: 0.6;
  }

  .bk-layer {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 110;
  }
  nav {
    padding: 0;
  }
  .trans-lan-grp {
    display: none;
  }
  .logo-img img {
    width: 35px;
    height: 35px;
  }
  .menu-bar-container {
    padding: 0 20px;
    display: none;
  }
  .menu-item {
    display: none;
  }
  .login-signup-container {
    display: none;
  }
  .nav-container {
    background-color: hsla(0, 0%, 100%, 0.125);
    height: 52px;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
  }
  .hamburger-btn {
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
}

/* 지도 관련 css */

.map-title h2 {
  padding: 20px 0;
  color: #000;
  text-align: center;
  background-color: #f8f9fa;
  margin-top: 8px;
}

.map {
  height: 100%;
}

.map-container {
  width: 70%;
  height: 350px;
  border: 1px solid white;
  margin: 0 auto;
}

/* footer css */

footer {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  font-size: 14px;
}

.container-fluid {
  display: flex;
}
.footer-box1 {
  display: flex;
  justify-content: center;
}
.footer-logo {
  width: 100px;
}

.footer-box2-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 118px;
  height: 42px;
}
.ft-icon {
  width: 32px;
  height: 32px;
  position: relative;
  display: inline-block;
}

.ft-icon img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}

.ft-icon img.on {
  opacity: 0;
}

.ft-icon:hover img.on {
  opacity: 1;
}

.ft-icon:hover img.off {
  opacity: 0;
}

.footer-social {
  display: flex;
}
.footer-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.only-mobile-txt {
  display: none;
}
.footer-terms a {
  color: #333;
  text-decoration: none;
}
.footer-terms a:hover {
  text-decoration: underline;
}
.footer-terms-txt2 {
  font-weight: 900;
}

/* footer media query */

@media screen and (max-width: 800px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .footer-box1,
  .footer-box2 {
    display: none;
  }
  .only-mobile-txt {
    display: block;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dedede;
  }
  .footer-info {
    display: flex;
    text-align: center;
  }
}

/* mobile, tablet size - show modal menu */

.modal-box {
  visibility: hidden;
  opacity: 0;
  max-width: 302px;
  width: 300px;
  right: 0;
  top: 0;
  transform: translate(-14px, 14px);
  position: fixed;
  z-index: 900;
  padding: 40px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 600;
  border-radius: 25px;
  backdrop-filter: blur(20px);
  background-color: hsla(0, 0%, 100%, 0.188);
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 50%);
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}
.choice-lan {
  font-size: 24px;
  color: #ccc;
  cursor: pointer;
}
.choice-lan span {
  color: #ccc;
}
.modal-box ul {
  margin-bottom: 48px;
}
.modal-box ul li {
  font-size: 24px;
  margin: 16px 0 16px;
  height: 38px;
  cursor: pointer;
  color: #ffffff;
}
