<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/searchModal.css" />
    <script src="../searchBar.js" defer></script>
    <script
      src="https://kit.fontawesome.com/7fd818e661.js"
      crossorigin="anonymous"
      defer
    ></script>
    <title>Modal</title>
  </head>
  <body>
    <div class="container">
      <article class="wrapper">
        <div class="title">지역으로 검색하기</div>
        <div class="search-options">
          <div class="option">
            <button>
              <img
                src="https://a0.muscache.com/pictures/f9ec8a23-ed44-420b-83e5-10ff1f071a13.jpg?im_w=320"
                alt="세계지도"
              />
            </button>
            <span>유연한 검색</span>
          </div>
          <div class="option">
            <button>
              <img
                src="https://a0.muscache.com/im/pictures/7b5cf816-6c16-49f8-99e5-cbc4adfd97e2.jpg?im_w=320"
                alt="유럽 지도"
              />
            </button>
            <span>유럽</span>
          </div>
          <div class="option">
            <button>
              <img
                src="https://a0.muscache.com/im/pictures/26891a81-b9db-4a9c-8aab-63486b7e627c.jpg?im_w=320"
                alt="일본 지도"
              />
            </button>
            <span>일본</span>
          </div>
          <div class="option">
            <button>
              <img
                src="https://a0.muscache.com/im/pictures/d77de9f5-5318-4571-88c7-e97d2355d20a.jpg?im_w=320"
                alt="동남아시아 지도"
              />
            </button>
            <span>동남아시아</span>
          </div>
        </div>
      </article>

      <article class="wrapper">
        <div class="title">한국</div>
        <div class="btn_wrapper">
          <button class="btn btn__korea">
            <span>서울</span>
          </button>
          <button class="btn btn__korea">
            <span>부산</span>
          </button>
          <button class="btn btn__korea">
            <span>속초</span>
          </button>
          <button class="btn btn__korea">
            <span>강릉</span>
          </button>
          <button class="btn btn__korea">
            <span>전주</span>
          </button>
          <button class="btn btn__korea">
            <span>대구</span>
          </button>
          <button class="btn btn__korea">
            <span>경주</span>
          </button>
          <button class="btn btn__korea">
            <span>여수</span>
          </button>
          <button class="btn btn__korea">
            <span>서귀포</span>
          </button>
          <button class="btn btn__korea">
            <span>대전</span>
          </button>
          <button class="btn btn__korea">
            <span>제주도</span>
          </button>
          <button class="btn btn__korea">
            <span>인천</span>
          </button>
        </div>
      </article>

      <article class="wrapper">
        <nav class="modal-content">
          <button class="scroll-btn" id="scroll-left">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <div class="nav_container">
            <button class="nav_btn active">
              <span>전 세계</span>
            </button>
            <button class="nav_btn">
              <span>동아시아</span>
            </button>
            <button class="nav_btn">
              <span>동남아시아</span>
            </button>
            <button class="nav_btn">
              <span>유럽</span>
            </button>
            <button class="nav_btn">
              <span>북남미</span>
            </button>
            <button class="nav_btn">
              <span>오세아니아</span>
            </button>
            <button class="nav_btn">
              <span>기타 아시아 지역</span>
            </button>
            <button class="nav_btn">
              <span>아프리카</span>
            </button>
          </div>
          <button class="scroll-btn" id="scroll-right">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </nav>
        <div class="btn_wrapper">
          <button class="btn btn__world">
            <span>오사카</span>
          </button>
          <button class="btn btn__world">
            <span>도쿄</span>
          </button>
          <button class="btn btn__world">
            <span>후쿠오카</span>
          </button>
          <button class="btn btn__world">
            <span>방콕</span>
          </button>
          <button class="btn btn__world">
            <span>런던</span>
          </button>
          <button class="btn btn__world">
            <span>치앙마이</span>
          </button>
          <button class="btn btn__world">
            <span>타이베이</span>
          </button>
          <button class="btn btn__world">
            <span>시드니</span>
          </button>
          <button class="btn btn__world">
            <span>삿포로</span>
          </button>
          <button class="btn btn__world">
            <span>그린델발트</span>
          </button>
          <button class="btn btn__world">
            <span>바르셀로나</span>
          </button>
          <button class="btn btn__world">
            <span>인터라켄</span>
          </button>
        </div>
      </article>
    </div>
  </body>
</html>
