<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/slotMachine.css" />
    <title>slot-Machine</title>
  </head>
  <body>
    <article>
      <h1 class="sr-only">We hack the system, you fly for less</h1>
      <div aria-hidden="true" class="wrapper">
        <div class="slot-machine text_01">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">W</div>
            <div class="slot-machine__letter">G</div>
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">J</div>
            <div class="slot-machine__letter">V</div>
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">Y</div>
          </div>
        </div>
        <div class="slot-machine text_02">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">E</div>
            <div class="slot-machine__letter">U</div>
            <div class="slot-machine__letter">I</div>
            <div class="slot-machine__letter">Q</div>
            <div class="slot-machine__letter">V</div>
            <div class="slot-machine__letter">R</div>
            <div class="slot-machine__letter">G</div>
            <div class="slot-machine__letter">O</div>
          </div>
        </div>
        <div class="slot-machine text_03">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">J</div>
            <div class="slot-machine__letter">B</div>
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">U</div>
          </div>
        </div>
        <div class="slot-machine text_04">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">H</div>
            <div class="slot-machine__letter">J</div>
            <div class="slot-machine__letter">T</div>
            <div class="slot-machine__letter">Q</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
          </div>
        </div>
        <div class="slot-machine text_05">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">O</div>
            <div class="slot-machine__letter">M</div>
            <div class="slot-machine__letter">H</div>
            <div class="slot-machine__letter">L</div>
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">F</div>
          </div>
        </div>
        <div class="slot-machine text_06">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">C</div>
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">O</div>
            <div class="slot-machine__letter">L</div>
            <div class="slot-machine__letter">F</div>
            <div class="slot-machine__letter">K</div>
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">L</div>
          </div>
        </div>
        <div class="slot-machine text_07">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">K</div>
            <div class="slot-machine__letter">H</div>
            <div class="slot-machine__letter">B</div>
            <div class="slot-machine__letter">H</div>
            <div class="slot-machine__letter">C</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">X</div>
            <div class="slot-machine__letter">Y</div>
          </div>
        </div>
        <div class="slot-machine text_08">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
          </div>
        </div>
        <div class="slot-machine text_09">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">T</div>
            <div class="slot-machine__letter">P</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">D</div>
            <div class="slot-machine__letter">F</div>
            <div class="slot-machine__letter">H</div>
            <div class="slot-machine__letter">C</div>
            <div class="slot-machine__letter">F</div>
          </div>
        </div>
        <div class="slot-machine text_10">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">H</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">W</div>
            <div class="slot-machine__letter">B</div>
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">B</div>
            <div class="slot-machine__letter">I</div>
            <div class="slot-machine__letter">O</div>
          </div>
        </div>
        <div class="slot-machine text_11">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">E</div>
            <div class="slot-machine__letter">N</div>
            <div class="slot-machine__letter">K</div>
            <div class="slot-machine__letter">Z</div>
            <div class="slot-machine__letter">U</div>
            <div class="slot-machine__letter">L</div>
            <div class="slot-machine__letter">D</div>
            <div class="slot-machine__letter">R</div>
          </div>
        </div>
        <div class="slot-machine text_12">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
          </div>
        </div>
        <div class="slot-machine text_13">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">L</div>
            <div class="slot-machine__letter">Q</div>
            <div class="slot-machine__letter">P</div>
            <div class="slot-machine__letter">G</div>
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">L</div>
          </div>
        </div>
        <div class="slot-machine text_14">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">T</div>
            <div class="slot-machine__letter">X</div>
            <div class="slot-machine__letter">C</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">L</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">E</div>
          </div>
        </div>
        <div class="slot-machine text_15">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">S</div>
            <div class="slot-machine__letter">Z</div>
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">U</div>
            <div class="slot-machine__letter">M</div>
            <div class="slot-machine__letter">I</div>
            <div class="slot-machine__letter">N</div>
            <div class="slot-machine__letter">S</div>
          </div>
        </div>
        <div class="slot-machine text_16">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">T</div>
            <div class="slot-machine__letter">R</div>
            <div class="slot-machine__letter">P</div>
            <div class="slot-machine__letter">A</div>
            <div class="slot-machine__letter">Q</div>
            <div class="slot-machine__letter">D</div>
            <div class="slot-machine__letter">M</div>
            <div class="slot-machine__letter">S</div>
          </div>
        </div>
        <div class="slot-machine text_17">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">E</div>
            <div class="slot-machine__letter">B</div>
            <div class="slot-machine__letter">G</div>
            <div class="slot-machine__letter">X</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
          </div>
        </div>
        <div class="slot-machine text_18">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">M</div>
            <div class="slot-machine__letter">X</div>
            <div class="slot-machine__letter">D</div>
            <div class="slot-machine__letter">R</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
          </div>
        </div>
        <div class="slot-machine text_19">
          <div class="slot-machine__container">
            <div class="slot-machine__letter">,</div>
            <div class="slot-machine__letter">Y</div>
            <div class="slot-machine__letter">Q</div>
            <div class="slot-machine__letter">T</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
            <div class="slot-machine__letter">&nbsp;</div>
          </div>
        </div>
      </div>
      <p class="small_text">
        Book cheap flights other sites simply can’t find.
      </p>
    </article>
  </body>
</html>
